@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: "#fff";
  --text-color: "#000";
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--white);
  color: var(--text-color);
}

.addNote {
  margin-top: 70px;
}

.icons i {
  cursor: pointer;
}
